<h1>Test#index</h1>
<p>/views/test/index.html.erb</p>


<p>

	<%= @testowa %>

</p>

<p>

	<%@imiona.each do |imie| %>
	<%= "witaj w kursie #{imie}" %>
	<br>
		<% end %>

</p>

<p>

Parametr ID = <%= @id +10%>

</p>

<hr>

<%= params.inspect %>

</hr>