<p>
<a href="kurwa">"link do strony"</a>
</p>


<p>

<%= link_to('link ruby',{:action=>'witaj', :id=>2, :strona=>3}) %>

</p>

<p>

<%= link_to('link ruby',{:action=>'index', :id=>2, :strona=>3}) %>

</p>