<h1>Test#witaj</h1>
<p>/views/test/witaj.html.erb</p>

<p>

 Parametr Strona = <%= params[:strona].to_i + 1%>

</p>

<p>

 Parametr Strona = <%= params[:strona] %>

</p>

<p>

 Parametr ID = <%= params[:id]%>

</p>