<div class = "hero-unit">
<h1>Delete Category</h1>

<%= form_for(:category, :url =>{:action => 'remove', :id => @category.id}) do |pole| %>

<p class = "text_warning">Are you sure ?</p>
<p class = "text_warning"><%= @category.name%></p>



<div style="text-align: center">
<%= link_to("Back", {:action => 'index'}, :class => 'btn btn-primary' )%>
<%= submit_tag("Delete", :class => 'btn btn-danger')%>

</div>

	<% end %>
	</div>